<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改资料</title>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/app.css" rel="stylesheet">
</head>
<body >
    <div class="app-header">
        <b><a class="return_a" href="{:U('Myself/index')}">< 记账通</a></b>
    </div>
    <div class="container-fluid">
        <!--我的头部-->
        <div class="row myself-con-head text-center" >
            <div><img src="__UPLOADS__<empty name="Userinfo.userpho">me.jpg<else />{$Userinfo.userpho}</empty> " class="img-circle"></div>
            <div>{$Userinfo.nickname}</div>
        </div>
        <div class="row myself-con-tag text-center">
            <div class="col-xs-4">
                <div class="myself-con-tag1" id="mycard">{$Userinfo.usercard}</div>
                <div class="myself-con-tag2">已连续打卡</div>
            </div>
            <div class="col-xs-4">
                <div class="myself-con-tag1">{$Userinfo.age}</div>
                <div class="myself-con-tag2">成长日龄</div>
            </div>
            <div class="col-xs-4">
                <div class="myself-con-tag1">{$Userinfo.billnum}</div>
                <div class="myself-con-tag2">总记账笔数</div>
            </div>
        </div>
        <!--我的主体-->
        <div class="row myselfupd-con-main">
            <!--修改资料-->
            <form class="form-horizontal" action="__SELF__" method="post" enctype="multipart/form-data" >
                <div class="form-group">
                    <label for="inputUsername" class="control-label">昵  称：</label>
                    <input type="text" class="form-control" id="inputUsername" name="nickname" value="{$Userinfo.nickname}" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <label for="inputUserpho" class="control-label">头  像：</label>
                    <input type="file" class="form-control" id="inputUserpho" name="userpho" placeholder="Head portrait">
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="control-label">邮  箱：</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" value="{$Userinfo.email}" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="control-label">电  话：</label>
                    <input type="tel" class="form-control" id="inputPhone" name="phone" value="{$Userinfo.phone}" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="control-label">旧密码：</label>
                    <input type="password" class="form-control" id="inputPassword1" name="oldpassword" placeholder="Old password">
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="control-label">新密码：</label>
                    <input type="password" class="form-control" id="inputPassword2" name="password" placeholder="New password">
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">确认新密码：</label>
                    <input type="password" class="form-control" id="inputPassword3" name="repassword" placeholder="Confirm password">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" onclick="return checkUpdmyself(this.form)">确定修改</button>
                </div>
            </form>
        </div>

    </div>
    <nav class="navbar  navbar-fixed-bottom">
        <div class="app-bottom">
            <ul class="nav nav-tabs">
                <li ><a href="{:U('Index/index')}" >状态</a></li>
                <li ><a href="{:U('Bill/index')}">账单</a></li>
                <li ><a href="{:U('Account/index')}">记账</a></li>
                <li ><a href="{:U('Charts/index')}">图表</a></li>
                <li class="active"><a href="{:U('Myself/index')}">我的</a></li>
            </ul>
        </div>
    </nav>
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/validate.js"></script>
</body>
</html>