<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>记账通密码重置</title>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/app.css" rel="stylesheet">
</head>
<body>
    <div class="app-header">
        <b>记账通</b>
    </div>
    <div class="container-fluid">
        <P class="login-header"><b>重置密码</b></P>
        <div class="row">
            <form class="form-horizontal" style="margin: 20px 10%;" action="__SELF__" method="post">
                <div class="form-group">
                    <label for="resetinputEmail" class="control-label">邮  箱：</label>
                    <input type="email" class="form-control" id="resetinputEmail" name="email" placeholder="Email">
                </div>
                <div class=" form-group">
                    <label for="mycode" class=" control-label">验证码：</label>
                    <div>
                        <input type="text" style="width:68%; display: inline-block;" class="form-control regist-input" id="mycode" name="code">
                        <button class="btn btn-default getcode" style="width:30%;" type="button" onclick="getPhoneCode('__CONTROLLER__/sendEmail');">获取验证码</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="control-label">新  密  码：</label>
                    <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="control-label">确认密码：</label>
                    <input type="password" class="form-control" id="inputPassword2" name="repassword" placeholder="Confirm password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="return checkReset(this.form)">重置</button>
                    <!--<a class="btn btn-default" href="#">忘记</a>-->
                    <a href="__CONTROLLER__/login" style="float: right; margin-top: 4%;">去登录</a>
                </div>
            </form>
        </div>
    </div>

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/validate.js"></script>
</body>
</html>